@font-face {
  font-family: cr_005;
  src: url(../fonts/Cromwell_Revival_005-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  width: 100%;
  background-color: black;
  color: white;
  font-family: cr_005;
  text-align: right;
  letter-spacing: 4px;
  font-size: .5em;
  position: relative;
}

img {
  display: block;
  width: 100%;
  margin: auto;
  padding-top: 4%;
}

#chef {
  width: 25%;
}

#map {
  width: 33%;
}

#vista {
  width: 99%;
}

#tft {
  width: 75%;
}

.layOut {
  width: 70%;
}





footer {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

a {
  text-decoration: none;
  color: black;
  cursor: crosshair;
}

a:hover {
  color: beige;
}


